<h1><%= form_for(@tasks) do |f| %></h1>
<h1><%= f.label :title %></h1>
<h1><%= f.text_field :title %></h1>
<h1><%= f.label :details %></h1>
<h1><%= f.text_field :details %></h1>
<h1><%= f.submit %>
<% end %>
